* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

nav {
  z-index: 1;
  position: absolute;
  top: 12%;
  left: 20%; }
  nav .logo:hover {
    border: none; }
  nav img {
    width: 120px;
    margin-right: 30px; }
  nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .75em;
    color: grey;
    text-decoration: none;
    margin-right: 30px;
    transition: all 0.5s ease; }
    nav a:hover {
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 8px; }

header {
  max-width: 100%;
  position: relative;
  margin-bottom: -5px; }
  header img {
    max-width: 100%; }
  header .headerContent {
    z-index: 1;
    position: absolute;
    top: 32%;
    left: 20%;
    color: white; }
    header .headerContent p {
      margin: 0;
      font-family: 'PT Serif', serif;
      color: #c3c2c2;
      font-size: .8em; }
    header .headerContent p:first-of-type {
      font-style: italic; }
    header .headerContent h1 {
      font-size: 2.8em;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      letter-spacing: 2px; }

.horizontalLine {
  height: 1px;
  width: 25px;
  background-color: lightgrey;
  margin: 5px 0 5px 2px; }

.hiddenButton {
  position: absolute;
  left: 25%;
  bottom: 22%;
  padding: 15px 60px;
  opacity: 0; }

.sectionDivider {
  height: 60px;
  background-color: #ECECEC; }

.cornerImg {
  width: 175px;
  float: right;
  margin: 30px 30px 0 30px; }

.contentWrapper {
  clear: both;
  background: url(http://i.imgur.com/Cq7FtJ1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  .contentWrapper .horizontalLine {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-top: 40px;
    margin-bottom: 150px; }
    .contentWrapper .horizontalLine:last-child {
      margin-right: 0; }

.contentContainer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .contentContainer:after {
    content: "";
    display: table;
    clear: both; }

.mainContent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .mainContent:last-child {
    margin-right: 0; }
  .mainContent h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    color: #252525;
    position: relative;
    right: 45px; }
  .mainContent .contentNumber {
    margin: -13px;
    color: #252525;
    display: inline-block;
    border-bottom: 1px solid red;
    font-family: 'PT Serif', serif;
    position: relative;
    right: 24px;
    top: 28px;
    font-size: .9em; }
  .mainContent h3 {
    font-size: 1em;
    color: #686868;
    font-family: 'PT Serif', serif;
    margin-top: 0;
    margin-right: 80px;
    line-height: 125%; }
  .mainContent p {
    color: #686868;
    font-family: 'PT Serif', serif;
    font-size: .8em;
    line-height: 200%;
    margin-right: 105px; }

.imgWrapper span {
  font-size: 2.4em; }
.imgWrapper p {
  position: relative;
  top: 200px;
  right: 40px;
  color: white;
  font-size: 2em;
  margin: 0; }

.learnMore {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  position: relative;
  top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  color: #686868;
  word-spacing: 5px; }

.boxLong {
  height: 220px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 20px; }
  .boxLong:last-child {
    margin-right: 0; }
  .boxLong:nth-child(4n) {
    margin-right: 0; }
  .boxLong:nth-child(4n+1) {
    clear: left; }

.box {
  height: 220px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .box:last-child {
    margin-right: 0; }
  .box:nth-child(4n) {
    margin-right: 0; }
  .box:nth-child(4n+1) {
    clear: left; }

.sliphover-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em; }

#lineTwo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  margin-top: 100px;
  margin-bottom: 100px; }
  #lineTwo:last-child {
    margin-right: 0; }

.bottomContent {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  color: #252525; }
  .bottomContent:after {
    content: "";
    display: table;
    clear: both; }

.researchInfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%; }
  .researchInfo:last-child {
    margin-right: 0; }
  .researchInfo img {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
    .researchInfo img:last-child {
      margin-right: 0; }
  .researchInfo .infoContainer {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%; }
    .researchInfo .infoContainer:last-child {
      margin-right: 0; }
    .researchInfo .infoContainer p {
      font-family: 'PT Serif', serif; }
    .researchInfo .infoContainer p:nth-of-type(2) {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.6em;
      margin: 0;
      position: relative;
      left: 65px;
      bottom: 55px; }
    .researchInfo .infoContainer span {
      position: relative;
      display: block;
      font-size: 2.5em;
      font-family: 'Montserrat', sans-serif; }
