 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
  margin: 0;
}

nav {
  z-index: 1;
  position: absolute;
  top: 12%;
  left: 20%;

  .logo {
    &:hover {
      border: none;
      }
    }

  img {
    width: 120px;
    margin-right: 30px;
  }
  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .75em;
    color: grey;
    text-decoration: none;
    margin-right: 30px;
    transition: all 0.5s ease;
    &:hover {
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 8px;
    }
  }
}

header {
  max-width:100%;
  position: relative;
  margin-bottom: -5px; 
  
  img {
  max-width:100%
  }

    .headerContent {
    z-index: 1;
    position: absolute;
    top: 32%;
    left: 20%;
    color: white;
    p {
      margin: 0;
      font-family: 'PT Serif', serif;
      color: rgb(195, 194, 194);
      font-size: .8em;
    }
    p:first-of-type {
      font-style: italic;
    }
    h1 {
      font-size: 2.8em;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      letter-spacing: 2px;
    }
  }
}

.horizontalLine {
  height: 1px;
  width: 25px;
  background-color: lightgrey; 
  margin: 5px 0 5px 2px;
}

.hiddenButton {
  position: absolute;
  left: 25%;
  bottom: 22%;
  padding: 15px 60px;
  opacity: 0;
}

.sectionDivider {
  height: 60px;
  background-color: #ECECEC;
}

.cornerImg {
    width: 175px;
    float: right;
    margin: 30px 30px 0 30px;

  }

.contentWrapper {
  clear: both;
  background: url(http://i.imgur.com/Cq7FtJ1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .horizontalLine {
    @include span-columns(7);
    margin-top: 40px;
    margin-bottom: 150px;
  }
}

.contentContainer {
  @include outer-container;
} 

.mainContent {
  @include span-columns(6);
  @include shift(3);

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    color: #252525;
    position: relative;
    right: 45px;
  }
  .contentNumber {
    margin: -13px;
    color: #252525;
    display: inline-block;
    border-bottom: 1px solid red;
    font-family: 'PT Serif', serif;
    position: relative;
    right: 24px;
    top: 28px;
    font-size: .9em;
  }
  h3 {
    font-size: 1em;
    color: #686868;
    font-family: 'PT Serif', serif;
    margin-top: 0;
    margin-right: 80px;
    line-height: 125%
  }
  p {
    color: #686868;
    font-family: 'PT Serif', serif;
    font-size: .8em;
    line-height: 200%;
    margin-right: 105px;
  }
}

.imgWrapper {
  span {
    font-size: 2.4em;
  }
  p {
    position: relative;
    top: 200px;
    right: 40px;
    color: white;
    font-size: 2em;
    margin: 0;
  }
}

.learnMore {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  position: relative;
  top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  color: #686868;
  word-spacing: 5px;
}

.boxLong {
  height: 220px;
  @include span-columns(6);
  @include omega(4n);
  margin-bottom: 20px; 
}

.box {
  height: 220px;
  @include span-columns(3);
  @include omega(4n);
}

.sliphover-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}

#lineTwo {
  @include span-columns(6);
  @include shift(3);
  margin-top: 100px;
  margin-bottom: 100px;
}

.bottomContent {
  @include outer-container;
  clear: both;
  color: #252525;
}

.researchInfo {
  @include span-columns(5);
  @include shift(1);
  img {
    @include span-columns(2 of 6);
   }
  .infoContainer {
    @include span-columns(4 of 6);
    p {
    font-family: 'PT Serif', serif;
    }
    p:nth-of-type(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    margin: 0;
    position: relative;
    left: 65px;
    bottom: 55px;
    }
    span {
      position: relative;
      display: block;
      font-size: 2.5em;
      font-family: 'Montserrat', sans-serif;
    }
  }
}








