 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
  margin: 0;
}

nav {
  z-index: 1;
  position: absolute;
  top: 12%;
  left: 20%;

  img {
    width: 100px;
    margin-right: 30px;
  }
  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .75em;
    color: grey;
    text-decoration: none;
    margin-right: 30px;
  }
}

header {
  max-width:100%;
  position: relative;
  margin-bottom: -5px; 
  
  img {
  max-width:100%
  }

    .headerContent {
    z-index: 1;
    position: absolute;
    top: 32%;
    left: 20%;
    color: white;
    p {
      margin: 0;
      font-family: 'PT Serif', serif;
      color: rgb(195, 194, 194);
      font-size: .8em;
    }
    p:first-of-type {
      font-style: italic;
    }
    h1 {
      font-size: 2.8em;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      letter-spacing: 2px;
    }
  }
}

.horizontalLine {
  height: 1px;
  width: 25px;
  background-color: lightgrey; 
  margin: 5px 0 5px 2px;
}

.hiddenButton {
  position: absolute;
  left: 25%;
  bottom: 22%;
  padding: 15px 60px;
  opacity: 0;
}

.sectionDivider {
  height: 60px;
  background-color: #ECECEC;
}

.cornerImg {
    width: 175px;
    float: right;
    margin: 30px 30px 0 30px;

  }

.contentWrapper {
  clear: both;
  .horizontalLine {
    @include span-columns(7);
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.contentContainer {
  @include outer-container {
  }
} 

.mainContent {
  @include span-columns(6);
  @include shift(3);

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    color: #252525;
    position: relative;
    right: 55px;
  }
  .contentNumber {
    margin: -13px;
    color: #252525;
    display: inline-block;
    border-bottom: 1px solid red;
    font-family: 'PT Serif', serif;
    position: relative;
    right: 24px;
    top: 28px;
    font-size: .9em;
  }
  h3 {
    font-size: 1em;
    color: #686868;
    font-family: 'PT Serif', serif;
    margin-top: 0;
    margin-right: 80px;
    line-height: 125%
  }
  p {
    color: #a5a5a5;
    font-family: 'PT Serif', serif;
    font-size: .8em;
    line-height: 200%;
    margin-right: 105px;
  }
}

.learnMore {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  color: #686868;
}













